<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Affective Music</title>

    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link type="text/css" rel="stylesheet" href="../static/style.css?after">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script defer src=https://cdn.JsDelivr.net/npm/p5></script>
    <script id="vertexShader" type="x-shader/x-vertex">
        varying vec2 vUv;

        void main() {

            vUv = uv;

            gl_Position = vec4( position, 1.0 );

        }
    </script>

    <script id="fragmentShader" type="x-shader/x-fragment">
        uniform sampler2D tAudioData;
        varying vec2 vUv;

        void main() {

            vec3 backgroundColor = vec3( 0.125, 0.125, 0.125 );
            vec3 color = vec3( 1.0, 1.0, 0.0 );

            float f = texture2D( tAudioData, vec2( vUv.x, 0.0 ) ).r;

            float i = step( vUv.y, f ) * step( f - 0.0125, vUv.y );

            gl_FragColor = vec4( mix( backgroundColor, color, i ), 1.0 );

        }
    </script>
</head>
<body>

    <h2 id="now_word"> {{ word }} </h2>


    <div id="canvas"></div>
    <button id="startButton" class="affectiveWords_result"> START THE MUSIC </button>

    
    <p id="tryAnother"> Try another emotional word ... </p>

    <form action="/amazement" method="POST" form autocomplete="off" id="result">
        <button class="affectiveWords" name="word_type" id="word_amazement" value="amazement">Amazement</button>
    </form>

    <form action="/tenderness" method="POST" form autocomplete="off" id="result">
        <button class="affectiveWords" name="word_type" id="word_tenderness" value="tenderness">Tenderness</button>
    </form>

    <form action="/nostalgia" method="POST" form autocomplete="off" id="result">
        <button class="affectiveWords" name="word_type" id="word_nostalgia" value="nostalgia">Nostalgia</button>
    </form>

    <form action="/calmness" method="POST" form autocomplete="off" id="result">
        <button class="affectiveWords" name="word_type" id="word_calmness" value="calmness">Calmness</button>
    </form>

    <form action="/power" method="POST" form autocomplete="off" id="result">
        <button class="affectiveWords" name="word_type" id="word_power" value="power">Power</button>
    </form>

    <form action="/joyful" method="POST" form autocomplete="off" id="result">
        <button class="affectiveWords" name="word_type" id="word_joyful" value="joyful">Joyful</button>
    </form>

    <form action="/tension" method="POST" form autocomplete="off" id="result">
        <button class="affectiveWords" name="word_type" id="word_tension" value="tension">Tension</button>
    </form>

    <form action="/sadness" method="POST" form autocomplete="off" id="result">
        <button class="affectiveWords" name="word_type" id="word_sadness" value="sadness">Sadness</button>
    </form>

    <!-- Javascript -->
    <!-- Have to link importmap to use NPM modules...-->
    <script type="importmap">
        {
            "imports": {
                "three": "../static/node_modules/three/build/three.module.js"
            }
        }
    </script>
    <script type="module" src="../static/main.js"></script>
</body>
</html>