<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Affective Music</title>
    <meta name="viewport" content="width=device-width" initial-scale="1.0">    
    <link type="text/css" rel="stylesheet" href="../static/style.css?after">
</head>

<body>

    <h1>Choose an emotional word to experience !</h1>
    <form action="/result" method="POST" form autocomplete="off">
        <button class="affectiveWords" name="word_type" id="word_amazement" value="amazement">Amazement</button>
        <button class="affectiveWords" name="word_type" id="word_tenderness" value="tenderness">Tenderness</button>
        <button class="affectiveWords" name="word_type" id="word_nostalgia" value="nostalgia">Nostalgia</button>
        <button class="affectiveWords" name="word_type" id="word_calmness" value="calmness">Calmness</button>
        <br>
        <button class="affectiveWords" name="word_type" id="word_power" value="power">Power</button>
        <button class="affectiveWords" name="word_type" id="word_joyful" value="joyful">Joyful</button>
        <button class="affectiveWords" name="word_type" id="word_tension" value="tension">Tension</button>
        <button class="affectiveWords" name="word_type" id="word_sadness" value="sadness">Sadness</button>
    </form>
</body>
</html>